header{
    text-align: center;
   
}
footer{
    text-align: center;
}

#text{
    text-align: justify;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#picture{
    position:relative;
    width:50%;
    border-style: solid;
    border-image:15px;
    border-radius:50%;
    left: 200px;
    bottom: 10px;
}
.picture2{
    width: 600px;
    height: 430px;
}

