header{
    text-align: center;
   
}
footer{
    text-align: center;
}

#text{
    text-align: justify;
}
#picture{
    position:relative;
    width:75%;
    
    border-style: solid;
    border-image:15px;
    border-radius:50%;
}
